#Border {
	position: relative;
	width: 1024px;
	height: 788px;
	z-index: 1;
	left: 26px;
	top: 11px;
	border-style: solid;
	border-width: 5px;
	border-color: #999900;
	margin: 0 auto;
	
}
#Header {
	position: absolute;
	width: 886px;
	height: 67px;
	z-index: 2;
	left: 59px;
	top: 28px;
	background-color: #666666;
}
.logo {
	position: absolute;
	width: 135px;
	height: 48px;
	z-index: 2;
	left: 25px;
	top: 10px;
	background-color: #990000;
}
#Search {
	position: absolute;
	width: 196px;
	height: 48px;
	z-index: 3;
	top: 10px;
	left: 174px;
	background-color: #006699;
}
#myAccount {
	position: absolute;
	width: 196px;
	height: 48px;
	z-index: 3;
	top: 10px;
	left: 388px;
	background-color: #006699;
}
#welcome {
	position: absolute;
	width: 276px;
	height: 57px;
	z-index: 2;
	left: 596px;
	top: 7px;
	background-color: #003300;
}
#userName {
	position: absolute;
	width: 102px;
	height: 36px;
	z-index: 1;
	top: 9px;
	left: 146px;
	background-color: #FFFF00;
}
#Footer {
	position: absolute;
	width: 1009px;
	height: 62px;
	z-index: 6;
	left: 47px;
	top: 715px;
	background-color: #666666;
}
#Logo2 {
	position: absolute;
	width: 144px;
	height: 48px;
	z-index: 1;
	top: 10px;
	left: 843px;
	background-color: #990000;
}
#About {
	left: 29px;
	top: 10px;
}
.opcFoot {
	position: absolute;
	width: 165px;
	height: 47px;
	z-index: 3;
	left: 230px;
	top: 11px;
	background-color: #000066;
}
#Contac {
	left: 425px;
	top: 11px;	
}
#Legal {	
	left: 610px;
	top: 11px;	
}
.catalogGames {
	position: absolute;
	width: 200px;
	height: 234px;
	z-index: 3;
	background-color: #333333;
	left: 19px;
	top: 9px;	
}
#Game1 {
	left: 21px;
	top: 73px;
}
#Game2 {
	left: 246px;
	top: 76px;
}
#Game3 {
	left: 465px;
	top: 76px;
}
#Game4 {
	left: 683px;
	top: 78px;
}
#Game5 {
	left: 12px;
	top: 330px;
}
#Game6 {
	left: 240px;
	top: 330px;
}
#Game7 {
	left: 465px;
	top: 329px;
}
#Game8 {
	left: 681px;
	top: 329px;
}
.catalogImg {
	position: absolute;
	width: 120px;
	height: 122px;
	z-index: 1;
	left: 38px;
	top: 6px;
	background-color: #111311;
}
#Content {
	position: absolute;
	width: 922px;
	height: 580px;
	z-index: 8;
	left: 44px;
	top: 115px;
	background-color: #009900;
	
}
.cataText {
	position: absolute;
	width: 149px;
	height: 81px;
	z-index: 2;
	left: 24px;
	top: 139px;
	background-color: #666666;
}
#cataMenu {
	position: absolute;
	width: 896px;
	height: 43px;
	z-index: 2;
	left: 21px;
	top: 18px;
	background-color: #666666;
}