/********************
*File name:main.css
*System Name: morfeo
*Module Name: welcome
*Class Name: none
*Dependencies: none			
*Revision: 2014-11-22
*Author:  
*e-mail Author: @uabc.edu.mx
*Copyright Notice: Derechos reservados, UABC 2014
*********************/

body{
 background-image: url("../img/Carbon.png");

}

#Border {
	margin:auto;
	width: 1024px;
	height: 788px;
	border-style: solid;
    border-width: 0px;
	border-color:#999900;
	
}

/*  Esta arriba de la pagina, le incluyen los apDiv1, clase logo, search, login,
buttom, registrer
 */

#Header {
	position: relative;
	width: 950px;
	height: 70px;
	margin:auto;
}


#apDiv1 {/**que es esto??*/
	width: 150px;
	height: 39px;
	margin: 100px;
}

.logo {			/* aqui va el logo de la pagina, es una clase ya que se repite en el footer*/
	width: 165px;
	height: 50px;
	margin: 10px;
}

#LogoUp{
	float:left;

}

#Search {			/*Aqui ira el buscador*/
	margin:10px;
	width: 275px;
	height: 50px;
	background-color: black;
	float:right;
}

#Login {
	margin:10px;
	width: 440px;
	height: 50px;
	float:right;
}

.button {   /*Esta es una clase que comparte atributos con el registrer y el log in*/
	width: 90px;
	height: 40px;
	margin:5px;
}

#In{
	float:right;
}

#Register {
	float:right;
}


/*  aqui comienza el contenido de la pagina*/

#Content {  /* aqui es donde guardaremos todo el contenido de la pagina*/
	margin:auto;
	width: 950px;
	height: 560px;
	background-color: black;
	
}

.gamesContent {		/*Es una clase que sus atributos se tomaran para el carrusel y best seller*/
	margin:10px;
	width: 565px;
	height: 280px;
	position:relative;
	background-color: black;

}

#Carrusel {/*hereda atributos de la clase gamesContent estara a la izquierda*/
	float:left;

}


.ads {			/* clase ads(anuncios de imagenes), comparte atributos para anounnce y soon	*/
	margin:10px;
	width: 315px;
	height: 280px;
	position:relative;

}

#Anounnce {		/*hereda atributos de la clase gamesContent estara a la derecha*/
	float:right;

}

#Soon {
	float:left;

	
}

#BestSeller {  /*   hereda de la clase .games content     */    
	float:right;

}

#BestsellerTit{
	margin:5px;
	width: 550px;
	height: 20px;
	position:relative;
	background-color: red;


}
/*Aqui comienzan las ofertas de nuevos juegos*/


#games {
		margin:5px;
		float: left;
		width: 270px;
		height: 70px;
		position:relative;
		background-color:#FFFFFF;
}



#gamesImg {
		float: left;
		width: 91px;
		height: 60px;
		margin: 5px;
		background-color:#CC3300;
}


/*  aqui comienza el footer, la parte de abajo de la pagina*/


#Footer {

	margin:auto;	
	width: 950px;
	height: 70px;

}

.opcFoot {   /*  clase para botones about, contact y legal*/

	position:relative;
	width: 165px;
	height: 47px;
	margin:10px;
	background-color: #787878 ;
	text-align: center;
}


#About {
	margin-left:130px; /*  margen es para que este un poco mas centrado*/

	float: left;
}

#Contact {
	float: left;
}

#Legal {
	float: left;
}

#Logo2 {
	float: right;
}